body
{
    color: red;
    background: #161616;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
    margin: 10px;
}
#post{
    margin: 20px;
}
#cabecera{
    background:#2866f6 ;
    color: white;
    padding: 20px;
    margin: 0px;
    box-shadow:0px 0px 30px 1px #4f4f4f;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    font-size: 20px;
}

#footer{
    background: #4f4f4f;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

